<div class="hero">
  <div class="col-md-6 col-md-offset-3 get-started">
    <p class='welcome-text'>WELCOME TO SPARE CHANGE</p>
    <p class='welcome-text-desc'>
      You buy your morning coffee, We donate your Spare Change.
    </p>
    <a href=" users/sign_up "> <button class="sign-up-button center-block"> Get Started </button></a>
  </div>
</div>
